<!DOCTYPE html>
<html xmlns:th = "https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Member admin page</title>
    <link th:href="@{/basic.css}" rel="stylesheet" />
</head>
<body>
<string>멤버 CRUD</string><br>
<string><b>조회</b>는 해당 멤버의 ID만 입력하고 조회를 누르면 가능합니다.</string><br>
<string><b>등록</b>은 ID를 제외하고 , 이외에 사항들을 입력하고 등록을 누르면 가능합니다.</string><br>
<string><b>수정</b>은 해당 멤버의 ID를 포함한 모든 사항을 입력하고 수정을 누르면 가능합니다.</string><br>
<string><b>삭제</b>는 해당 멤버의 ID만 입력하고 삭제를 누르면 가능합니다.</string><br><br>
<div class = "container">
    <form th:action = "@{/admin/notices}" method = "post">
        <div>

            <label for = "id"> id</label>
            <input type = "text" id = "id" name = "id"/><br><br>

            <label for = "title"> title</label>
            <input type = "textarea" id = "title" name = "title" th:value = "${notice.title}" style = "width : 400px;"/><br><br>

            <label for = "content"> content</label>
            <input type = "textarea" id = "content" name = "content" th:value = "${notice.content}" style = "width : 400px; height : 200px;"/><br><br>

        </div>
        <button type ="submit" th:name = "cmd" th:value = "register">등록</button>
        <button type ="submit" th:name = "cmd" th:value = "update">수정</button>
        <button type = "submit" th:name = "cmd" th:value = "inquiry">조회</button>
        <button type = "submit" th:name = "cmd" th:value = "delete">삭제</button>
    </form>
</div>
<br><br>
<strong>DB 상태</strong><br><br>
<table>
    <tr>
        <th>id</th>
        <th>title</th>
        <th>content</th>
        <th>registerDate</th>
    </tr>
    <tr th:each="notices : ${noticeList}">
        <td th:text="${notices.id}"></td>
        <td th:text="${notices.title}"></td>
        <td th:text="${notices.content}"></td>
        <td th:text="${notices.registerDate}"></td>
    </tr>
</table>
</body>
</html>